body {
  background-color: #faf3dd;
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}
.title {
}
div h1 {
  padding: 0.2rem;
}
#clickme {
  background-color: #ffbb91;
  color: #feffff;
  margin-bottom: 20px;
}
